<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" href="https://res.cloudinary.com/deup6t83x/image/upload/v1721236251/logo_pctu2u.png" type="image/x-icon">
    <link rel="stylesheet" href="css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="close-button" onclick="redirectToIndex()">×</div>
        <div class="login-link">
            <div class="logo">
                <i class='bx bx-pencil'></i>
                <span class="text">Fit4Life</span>
            </div>
            <p class="side-big-hedaing">Forgot your password?</p>
            <p class="primary-bg-text">Enter your email address below, and we'll send you instructions on how to reset your password.</p>
            <a href="signup.html" class="loginbtn">Create Account</a>
        </div>
        <form id="forgotPasswordForm" class="signup-form-container">
            <p class="big-heading">Reset your password</p>
            <br><br><br>
            <div class="login-form-contents">
                <div class="text-fields email">
                    <label for="email"><i class='bx bx-envelope'></i></label>
                    <input type="email" name="email" id="email" placeholder="Enter your email id">
                </div>
                <br>
            </div>
            <input type="button" value="Submit" onclick="submitForgotPassword()" class="nextPage">
        </form>
    </div>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script>
        // Submit forgot password form
        function submitForgotPassword() {
            const email = document.getElementById('email').value.trim();
            let errorMessage = '';

            if (!email) {
                errorMessage += 'Please enter your email.\n';
            } else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
                errorMessage += 'Please enter a valid email address.\n';
            }

            if (errorMessage) {
                alert(errorMessage.trim());
            } else {
                alert('Password reset instructions have been sent to your email.');
                window.location.href = 'login.html';
            }
        }

        // Function to redirect to index.html
        function redirectToIndex() {
            window.location.href = 'index';
        }
    </script>
</body>
</html>
